<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Registro de Usuario</h1>
        <form action="/register" method="POST">
            <input type="text" id="username" name="username" placeholder="Nombre de Usuario" required>
            <input type="password" id="password" name="password" placeholder="Contraseña" required>
            <input type="submit" value="Registrar">
        </form>
        <a href="/login">Ya tienes cuenta? Inicia sesión</a>
    </div>
</body>
</html>
